:root {
    --first-test-color: #bee9e8;
    --sec-test-color: #62b6cd;
    --third-test-color: #1b4965;
    --fourth-test-color: #cae9ff;
    --fifth-test-color: #5fa8d3;
    --gradient-test-1st: #b5f0f0;
    --gradient-test-2nd: #a0bef8;
}   
*{
    /* border: 1px solid red; */

}

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    overflow-x: hidden;
    column-gap: 20px;
    background: #f3f7fe;
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 350px auto;
    grid-template-areas: 
    "leftmid header header"
    "leftmid centermid centermid"
    "leftmid footer footer";
}

.navbar {
    background: rgb(220,220,220);
    grid-area: header;
    border-bottom: 2px solid grey;
    border-radius: 0px 0px 0px 20px;

}

.task-row {
    margin-bottom: 10px;
    border-bottom: 1px solid;
}

.task-row-sec {
    margin-left: 30px;
}

span { 
    margin-right: 20px;
}
span.task-title {
    font-size: 2rem;
}
p.current-workflow {
    margin-left: 20px;
    font-size: 1.5rem;
}

.task-list-element {
    box-shadow: 0px 0px 5px;
    padding: 15px;
    border-radius: 20px;
    background: #c1c1c1;
}

.logo {
    display: flex;
    height: 100%;
    font-size: 3rem;
    padding-left: 100px;
    align-items: center;
    color: rgb(13, 25, 66);
    font-weight: bold;
}

#section-left {
    background: rgb(13,167,193);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(220,220,220,1) 100%);
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0px 0px 10px;
    grid-area: leftmid;

}
.category-type-list {
margin-left: 5%;
list-style: none;
}
#section-center {
    background: rgb(245,244,252);
    background: radial-gradient(circle, rgba(245,244,252,1) 0%, rgba(243,249,255,1) 100%);
    grid-area: centermid;
}

.input-form {
    background-color: gainsboro;
    border: 1px solid silver;
    box-shadow: 0px 0px 12px 1px lightgrey;
    margin: 20px;
    margin-right: 80px;
    border-radius: 10px;
    padding: 10px;
}
.form-row {
    width: 80%;
}
textarea{
    width: 100%;
    resize: none;
}
.task-input {
    width: auto;
}
.task-container {
    background-color: gainsboro;
    border: 1px solid silver;
    box-shadow: 0px 0px 12px 1px lightgrey;
    margin: 20px;
    margin-right: 80px;
    min-height: 100px;
    border-radius: 10px;
}
input.new-category {
    margin-top: 30%;
    padding: 5px;
}
button.category-button {
    padding: 5px;
    border: none;
    border-radius: 0px 3px 3px 0px;
}
ul {
    list-style: none;
}
li.list-item{
    margin-bottom: 6px;
}

.list-item > button {
    width: 100%;
    border: none;
    border-radius: 3px 0px 0px 3px;
    height: 1.4rem;
    box-shadow: 0px 0px 6px #646464;
    background: #f4f9ff;
}
.list-item > button:hover{
    transform: translateX(3%);
    transition: all 0.5s;
}

.task-list {
    list-style: none;
    margin: 10px;
    padding: 10px;
}
.task-element{
    padding: 10px;
    margin: 10px;
    background: silver;
    border-radius: 10px;
    width: 80%;
}
#section-right {
    position: absolute;
    box-shadow: 0px 0px 5px;
    top: 10%;
    right: 0;
    width: 300px;
    height: 90%;
    background: rgb(24,46,130);
    background: linear-gradient(90deg, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%);
    transform: translateX(80%);
}
#section-right:hover {
    transform: translateX(0);
    transition: all 1s;
}

.footer{
    /* background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(237,233,233,1) 50%, rgba(254,254,254,1) 100%); */
    grid-area: footer;
    /* border-top: 1px solid var(--third-test-color); */
}

.category-button, .add-task-button, 
.status-button, .remove-button, .date-button, 
.description-button, .save-button, .delete-button {
    padding:10px;
    border-radius: 5px; 
    border: none;
    background-color: rgb(77, 126, 237);
    color: white;
    font-weight: bold;
}

.add-task-button,
.status-button ,
.remove-button{
    margin-left: 10px;
    margin-right: 10px;
}

.description-button{
    margin-top: 50px;
    margin-bottom: 20px;
}
.save-button{
    margin-top: 100px;
    margin-bottom: 5px;
}

.project-name{
    text-align: center;
    font-size: 2rem;
}

.task-list-element .done {
    background: #bbf3b8;
}

.task-list-element .expired {
    background: #f3b8b8;
}